@import "tailwindcss";

@theme {
  --font-display: 'Inter', sans-serif;

  --color-background: #f7f7f7;
  --color-primary: #246dff;
  --color-secondary: #F0F0F0;
  --color-accent: #505050;
  --color-text: #222222;
}

html {
  font-family: var(--font-display);
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.833rem;
}