@import "tailwindcss";

@theme {
  --font-display: 'Inter', sans-serif;

  --color-background: #f7f7f7;
  --color-primary: #246dff;
  --color-secondary: #F0F0F0;
  --color-accent: #505050;
  --color-text: #222222;
  --color-muted: #777777;
}

html {
  font-family: var(--font-display);
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.833rem;
}

@layer components { 
  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-modal-fade-in {
    animation: modalFadeIn 0.3s ease-in-out forwards;
  }

  @keyframes modalFadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(1rem);
    }
  }

  .animate-modal-fade-out {
    animation: modalFadeOut 0.3s ease-in-out forwards;
  }
}

@layer utilities {

  @keyframes toastFadeLeft {
    from {
      opacity: 0;
      transform: translateX(6rem);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes toast-progress {
    from {
      width: 100%;
    }

    to {
      width: 0%;
    }
  }

  .animate-toast-progress {
    animation: toast-progress linear forwards;
  }

  .animate-toast-fade-left {
    animation: toastFadeLeft 0.4s ease-in-out;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--color-secondary);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-muted);
  }
}